{% extends 'base.html'%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}" type="text/css">
{% endblock styles%}
{% block content %}
<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">
    <section class="mt-4">
      <div class="container-fluid">
        <div class="row text-center">
          <!-- displaying  Username-->
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <h3> {{user.username| capitalize}}'s Profile </h3>
            {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt=""><br><br>
            {%else%}
            <p><b>No profile picture</b></p>
            {% endif %}
            <!--Displaying user bio-->
            {% if user.bio %}
            <p> {{user.bio}}</p>
            {%else%}
            <p><b>{{user.username| capitalize}} has no bio.</b></p>
            {% if user == current_user %}
            <a href="{{url_for('main.update_bio',username=user.username)}}">Edit Bio</a><br><br>
            {% endif %}
            {% endif %}
            {% if user == current_user %}
            {% if user.bio %}
            <a href="{{url_for('main.update_bio',username=user.username)}}">Edit Bio</a><br><br>
            {% endif %}
            {% endif %}
            {% if user == current_user %}
            <p><b>Update Profile Picture</b></p>
            <form action="{{url_for('main.update_pic',username=user.username)}}" method="post"
              enctype="multipart/form-data">
              <input type="file" name="photo" class="form-control" required>
              <input type="submit">
            </form>
            {% endif %}
          </div>
          <div class="col-md-7 posts">
            {% if posts%}
            <h3>POSTS BY {{user.username.upper()}}</h3>
            <div id='cards' class="">
              {% for post in posts %}
              <div class="card" style="width:30rem">
                <div class="mx-auto card-body">
                  <h3 class="card-title">{{post.title}}</h3>
                  <h6 class="card-subtitle mb-2 text-muted">Submitted on :{{post.posted.strftime('%Y-%m-%d')}}</h6>
                  <p class="card-text">{{post.short_description}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            {%else%}
            <p>{{user.username| capitalize}} has no posts</p>
            {%endif%}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}