.container{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
}

.homepage{
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}
#carousel {
    padding: 0.25rem;
    position: absolute;
    top: 20%;
    right: 5%;
    left: 5%;
}

.carousel-inner {
    background-color: white;
    position: absolute;
    top: 20%;
    right: 5%;
    left: 5%;
}

@media screen and (min-width: 768px){
.carousel-caption {
    right: 20%;
    left: 20%;
}
}