.container{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.homepage{
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}