{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
{% endblock styles%}
<!-- Content block -->
{% block content %}
<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">
    <section class="mt-3">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mb-4">
          <div class="card-body">
            <div class="media d-block d-md-flex mt-3">
              <img class="mb-3 mx-auto z-depth-1"
                src="{{url_for('static',filename=post.author.profile_pic_path)}}" alt=""
                style="width: 100px;height: 100px;object-fit: cover; border-radius: 50px;">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <a href="{{url_for('main.profile',username=post.author.username)}}">
                  <h5 class="mt-0 font-weight-bold">{{post.author.username}}</h5>
                </a>
                {{post.author.bio}}
              </div>
            </div>
          </div>
          <h2 class="my-4 text-left">{{post.title}}</h2>
          <p class="text-muted">{{post.posted.strftime('%B %d, %Y')}}</p>
          <!--Featured Image-->
            <img src="{{url_for('static',filename=post.post_pic_path)}}" class="img-fluid featured-image" alt="" width="730" height= "300" style="object-fit: cover; max-height: 300px !important;">
          <!--/.Featured Image-->
          <!--Card-->
          <div class="card mb-4 ">
            <!--Card content-->
            <div class="card-body">
              <blockquote class="blockquote">
                <p class="mb-0">{{post.short_description}}</p>
              </blockquote>
              {{post.post_content}}
              {% if post.author == current_user%}
              <div>
                <button class="btn btn-sm m-1 btn-info"><a
                    href="{{url_for('main.update_post',post_id=post.id)}}">Update Post</a></button>
                <button class="btn btn-sm m-1 btn-danger" data-toggle="modal" data-target="#deletePostModal">Delete
                  Post</button>
              </div>
              {%endif%}
            </div>
          </div>
          {% for comment in comments %}
          {% if comment.id == comments[0].id%}
          <p class="card-header font-weight-bold">Comments</p>
          {%endif%}
          <div class="card card-comments mb-3">
            <div class="card-body">
              <div class="media d-block d-md-flex mt-4">
                <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg"
                  alt="Generic placeholder image"
                  style="width: 80px;height: 80px;object-fit: cover; border-radius: 40px;">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <h5 class="mt-0 font-weight-bold">{{comment.commenter.username}}</h5>
                  {{comment.comment_content}}
                </div>
                {% if post.author == current_user%}
                <button class="btn btn-sm m-1 btn-danger" data-toggle="modal" data-target="#deleteCommentModal">Delete Comment</button>
                {%endif%}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="card mb-3 ">
            {{comment_form.hidden_tag()}}
            {{wtf.quick_form(comment_form)}}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section>
  </div>
</main>
<!--Main layout-->
<!-- Modals -->
<div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostModalLabel">Delete post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('main.delete_post',post_id=post.id)}}" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">Yes, delete post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%for comment in comments%}
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCommentModalLabel">Delete comment?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('main.delete_comment',post_id=post.id, comment_id=comment.id)}}" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">Yes, delete comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
{%endfor%}
{% endblock %}